/* ОБЩЕЕ > ///////////////////////////////////////////////////////////////////////////////////*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a img {
	border: 0;
}

.left {
	float: left;
}
.right {
	float: right;
}
.dev {
	border: 1px red solid;
}
.visible {
	display: block;
}
.fix,
.Node,
.Grid,
.Grid-Row,
.Tab-Set ,
.Tab-Buttons {
	display: table;
}

.fix:after,
.Node:after,
.Grid:after,
.Grid-Row:after,
.Tab-Set		,
.Tab-Buttons    {
	content: '. .';
    display: block;
    word-spacing: 99in;
    height: 0;
    overflow: hidden;
}
/* ОБЩЕЕ < ///////////////////////////////////////////////////////////////////////////////////*/



/* ГРИД > ////////////////////////////////////////////////////////////////////////////////////*/
/* Контейнер грида */
.Grid {
	width: 100%;
}

/* Строка грида */
.Grid-Row {
	width: 100%;
}
.Grid-Node-1-2 {width: 50.00%}
.Grid-Node-1-3 {width: 33.33%}
.Grid-Node-2-3 {width: 66.66%}
.Grid-Node-1-4 {width: 25.00%}
.Grid-Node-2-4 {width: 50.00%}
.Grid-Node-3-4 {width: 75.00%}
.Grid-Node-1-5 {width: 20.00%}
.Grid-Node-1-6 {width: 16.66%}
.Grid-Node-2-5 {width: 40.00%}
.Grid-Node-3-5 {width: 60.00%}
.Grid-Node-4-5 {width: 80.00%}

.Grid-No-Padding {
	padding: 0!important;
}
.Grid-No-Padding > * {
	padding: 0!important;
}

[class*='Grid-Node-'] {
	display: block;
	float: left; 
	min-height: 1px;
	padding: 30px;
}
.Grid-Row [class*='Grid-Node-']:first-of-type {
	padding-left: 0!important;
}
.Grid-Row [class*='Grid-Node-']:last-of-type {
	padding-right: 0;
}
/* ГРИД < ////////////////////////////////////////////////////////////////////////////////////*/

.Node{
	margin:0 auto;
}


/* ТАБЫ > ////////////////////////////////////////////////////////////////////////////////////*/
.Tab-Buttons > li {
	float: left;
}
[class*='Tab-Node'] {
	display: none;
}
.Tab-Node:first-child {
	display: block;
}
/* ТАБЫ < ////////////////////////////////////////////////////////////////////////////////////*/
table.Stripped tr:nth-child(even) td {
	background-color: #f0f0f0;
}
table.Stripped {
	border-spacing: 0;
}
/* ФОРМЫ > ///////////////////////////////////////////////////////////////////////////////////*/
[class*='Input-'] {
	transition: .3s ease;
	border: 1px solid #aaa;
	box-shadow: 0 2px 3px #ddd inset;
	background-color: #fff;
	color: #999;
	padding: 6px 5px;
	font-size: 80%;
	margin-right: 5%;
	margin-bottom: 20px;
}
[class*='Input-']:focus {
	box-shadow: 0 2px 3px #ddd inset,
				0 0 10px #79afff;
	outline: none;
	border-color: #79afff;
}
input.Input-xxxl {width: 100%}
input.Input-xxl {width: 80%}
input.Input-xl {width: 60%}
input.Input-l {width: 50%}
input.Input-n {width: 40%}
input.Input-s {width: 30%}
input.Input-xs {width: 20%}
input.Input-xxs {width: 10%}

/* ФОРМЫ < ///////////////////////////////////////////////////////////////////////////////////*/


ul.zoo-item-list.zoo-list.blog-default {
    width: 98%;
     float: left;
    margin: 40px auto;
}