/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* Loading
----------------------------------------------------------------------------------------------------*/

#lightbox-loading
{
    display:  none;
    position: fixed;
    top:      50%;
    left:     50%;
    width:    40px;
    height:   40px;
    margin:   -20px 0 0 -20px;
    cursor:   pointer;
    overflow: hidden;
    z-index:  1104;
}

#lightbox-loading div
{
    position:         absolute;
    top:              0;
    left:             0;
    width:            40px;
    height:           480px;
    background-image: url('../images/loading.png');
}

/* Lightbox
----------------------------------------------------------------------------------------------------*/

#lightbox-overlay
{
    display:  none;
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    z-index:  1100;
}

#lightbox-tmp
{
    display:  none;
    padding:  0;
    margin:   0;
    border:   0;
    overflow: auto;
}

#lightbox-wrap
{
    display:          none;
    position:         absolute;
    top:              0;
    left:             0;
    padding:          0 !important;
    z-index:          1101;
    outline:          none;
    box-sizing:       border-box !important;
    width:            auto !important;
    transform:        translateX(20px);
    transform-origin: center center;

}

#lightbox-title.lightbox-title-float
{
    bottom:           -40px !important;
    transform:        translateX(-40px);
    transform-origin: center center;
}

.Inner .Teaser-Image
{
    display:       inline-block;
    position:      relative;
    cursor:        pointer;
    margin-bottom: 40px;
    max-width: 315px;
}

.teaser-image
{
    margin: 0 !important;
}

.Inner .Teaser-Image:before
{
    transition: background ease .2s;
}

.Inner .Teaser-Image:hover:before
{
    background-image:    url("/templates/protostar/img/img/lupa1.png");
    content:             "";
    display:             block;
    position:            absolute;
    background-repeat:   no-repeat;
    height:              35px;
    left:                0;
    right:               0;
    background-position: center;
    top:                 calc(50% - 18px);
    z-index:             10;
    transition:          background ease .2s;
}

.Lightbox-Wrap
{
    position:         fixed;
    display:          table;
    height:           100%;
    width:            100%;
    top:              0;
    left:             0;
    right:            0;
    bottom:           0;
    z-index:          100;
    visibility:       hidden;
    background-color: rgba(119, 119, 119, .7);
    opacity:          0;

    transition:       visibility ease .2s, opacity ease .2s;
}

.Lightbox-Wrap.Box-Active
{

    visibility: visible;

    opacity:    1;
    transition: visibility ease .2s, opacity ease .2s;
}

.Lightbox
{

    display:        table-cell;
    vertical-align: middle;
}

.Lightbox-View
{
    display:          table;
    margin:           0 auto;
    padding:          20px;
    background-color: white;
    position:         relative;
    box-shadow:       0 0 15px #555;
}

.Lightbox-Close
{
    position:   absolute;
    top:        -17px;
    right:      -17px;
    width:      34px;
    height:     34px;
    background: url("/media/widgetkit/widgets/lightbox/images/close.png") 0 0 no-repeat;
    cursor:     pointer;
    padding:    0;
    border:     none;
    outline:    none;
}

.Lightbox img
{

    display:        table-cell;
    vertical-align: middle;
    min-width:      600px;
}

#lightbox-outer
{
    position:   relative;
    width:      100%;
    height:     100%;
    background: #FFF;
    box-shadow: 0 0 15px #555;
}

#lightbox-content
{
    position: relative;
    width:    0;
    height:   0;
    border:   0 !important;
    outline:  none;
    overflow: hidden;
    z-index:  1102;
    padding:  10px;
}

#lightbox-close
{
    display:    none;
    position:   absolute;
    top:        -17px;
    right:      -17px;
    width:      34px;
    height:     34px;
    background: url('../images/close.png') 0 0 no-repeat;
    cursor:     pointer;
    z-index:    1103;
}

/* Special Content
----------------------------------------------------------------------------------------------------*/

#lightbox-error
{
    margin:  0;
    padding: 14px;
    font:    normal 12px/20px Arial;
    color:   #444;
}

#lightbox-img
{
    width:          100%;
    height:         100%;
    margin:         0;
    padding:        0;
    border:         none;
    outline:        none;
    line-height:    0;
    vertical-align: top;
}

#lightbox-frame
{
    display: block;
    width:   100%;
    height:  100%;
    border:  none;
}

/* Previous/Next Navigation
----------------------------------------------------------------------------------------------------*/

#lightbox-left,
#lightbox-right
{
    display:    none;
    position:   absolute;
    top:        100px;
    bottom:     100px;
    width:      35%;
    outline:    none;
    background: url('../images/blank.gif');
    z-index:    1102;
    cursor:     pointer;
}

#lightbox-left
{
    left: 0px;
}

#lightbox-right
{
    right: 0px;
}

#lightbox-left-ico,
#lightbox-right-ico
{
    display:    block;
    position:   absolute;
    top:        50%;
    left:       -9999px;
    z-index:    1102;
    width:      50px;
    height:     50px;
    margin-top: -25px;
    background: url('../images/buttons.png') 0 0 no-repeat;
    cursor:     pointer;
}

#lightbox-right-ico
{
    background-position: 0 -50px;
}

#lightbox-left:hover span
{
    left: 30px;
}

#lightbox-right:hover span
{
    left:  auto;
    right: 30px;
}

/* Titles
----------------------------------------------------------------------------------------------------*/

#lightbox-title
{
    font-size: 12px;
    z-index:   1102;
}

#lightbox-title.lightbox-title-float
{
    padding:       5px 10px;
    position:      absolute;
    left:          0;
    bottom:        -20px;
    background:    #000; /* IE */
    background:    rgba(0, 0, 0, 0.7);
    color:         #FFF;
    font-weight:   bold;
    border-radius: 6px;
}

#lightbox-title.lightbox-title-inside
{
    padding-bottom: 10px;
    text-align:     center;
    color:          #333;
    background:     #FFF;
    position:       relative;
}

#lightbox-title.lightbox-title-outside
{
    padding-top: 10px;
    color:       #FFF;
}

#lightbox-title.lightbox-title-over
{
    position:   absolute;
    bottom:     0;
    left:       0;
    color:      #FFF;
    text-align: center;
    background: #000; /* IE */
    background: rgba(0, 0, 0, 0.5);
}

#lightbox-title-over
{
    padding: 10px;
}

/* Image Content
----------------------------------------------------------------------------------------------------*/

a[data-lightbox]
{
    display:   inline-block;
    max-width: 100%;
}
